<p id="notice"><%= notice %></p>

<h2><%= @beer_club.name %>, <%= @beer_club.city %></h2>

<p>Founded <%= @beer_club.founded %></p>

<h3>members:</h3>

<ul>
<% @beer_club.members.each do |member| %>
  <li><%= link_to member.username, member %></li>
<% end %>
</ul>

<% unless @beer_club.members.include? current_user %>
  <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit 'Join' %>
  <% end %>
<% end %>

<%= edit_and_destroy_buttons(@beer_club) %>
