<p id="notice"><%= notice %></p>

<h2><%= @user.username %></h2>

<p>
<% if @user.favorite_style %>
  has <%= @user.favorite_style %> as favorite style
<% else %>
  has not favorite style
<% end %>
</p>

<p>
<% if @user.favorite_brewery %>
  has <%= @user.favorite_brewery.name %> as favorite brewery
<% else %>
  has not favorite brewery
<% end %>
</p>

<p>
<% if @user.ratings.empty? %>
  has not yet given any ratings!
<% else %>
  has given <%= pluralize @user.ratings.count, 'rating' %>, average <%= round @user.average_rating %>
<% end %>
</p>

<ul>
<% @user.ratings.each do |rating| %>
  <li>
    <%= rating %>
    <% if currently_signed_in? @user %>
      <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
<% end %>
</ul>

<h4>beer clubs</h4>

<p><strong>belongs to</strong></p>
<ul>
  <% @user.membered_beer_clubs.each do |club| %>
    <li><%= link_to club.name, club %></li>
  <% end %>
</ul>

<p><strong>application pending for</strong></p>
<ul>
  <% @user.applied_beer_clubs.each do |club| %>
    <li><%= link_to club.name, club %></li>
  <% end %>
</ul>

<%= edit_and_destroy_buttons(@user) %>
