<h1>Ratings</h1>

<p>total number of ratings <%= @number_of_ratings %></p>

<div class="row-fluid">
  <%= render 'top', name: "beers", items: @top_beers %>
  <%= render 'top', name: "breweries", items: @top_breweries %>
  <%= render 'top', name: "styles", items: @top_styles %>
</div>

<h2>most active users</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>favorite beer</th>
      <th>favorite brewery</th>
      <th>prefered style</th>
      <th>ratings</th>
    </tr>
  </thead>

  <tbody>
    <% @active_users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.favorite_beer %></td>
        <td><%= user.favorite_brewery.name %></td>
        <td><%= user.favorite_style %></td>
        <td><%= user.ratings.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>recent ratings</h2>
<ul>
<% @latest_ratings.each do |rating| %>
  <li> <%= rating %> by <%= link_to rating.user.username, rating.user %> </li>
<% end %>
</ul>
