<p id="notice"><%= notice %></p>

<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @places %>
  <table class="table table-hover">
    <thead>
      <th>name</th>
      <th>status</th>
      <th>overall</th>
    </thead>
    <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to place.name, place_path(place.id) %></td>
        <td><%= place.status %></td>
        <td><%= place.overall %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
